<h1>Your Workout Sucks.</h1>
<h1>Try Joe and Mike's Amazing Workout of The Day!</h1>
</br>
<p>Workout of the Day: <%= @content.content %></p>
</br>
<p><i>This is a simple test app to show a random workout of the day</i></p>
